.intro {
    width: 100%;
    height: 500px;
    display: flex;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1800' height='1004' preserveAspectRatio='none' viewBox='0 0 1800 1004'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1211%26quot%3b)' fill='none'%3e%3crect width='1800' height='1004' x='0' y='0' fill='rgba(168%2c 176%2c 211%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c547.035C98.641%2c527.154%2c165.083%2c442.988%2c250.259%2c389.411C336.507%2c335.16%2c451.641%2c317.598%2c503.856%2c230.103C557.375%2c140.424%2c539.865%2c27.845%2c527.953%2c-75.908C515.743%2c-182.258%2c510.317%2c-300.959%2c434.239%2c-376.27C359.129%2c-450.623%2c239.838%2c-443.188%2c136.168%2c-463.744C42.176%2c-482.381%2c-51.515%2c-515.433%2c-144.159%2c-490.959C-238.036%2c-466.159%2c-321.511%2c-406.562%2c-378.331%2c-327.825C-432.666%2c-252.531%2c-434.419%2c-156.179%2c-451.596%2c-64.93C-469.618%2c30.811%2c-502.582%2c124.763%2c-481.426%2c219.86C-457.368%2c328%2c-416.365%2c443.032%2c-324.738%2c505.302C-232.608%2c567.913%2c-109.196%2c569.044%2c0%2c547.035' fill='%237380b8'%3e%3c/path%3e%3cpath d='M1800 1696.694C1926.9569999999999 1685.7820000000002 1998.785 1547.845 2112.287 1489.9279999999999 2243.858 1422.791 2444.251 1460.063 2516.367 1331.154 2587.175 1204.583 2495.85 1044.421 2435.226 912.668 2385.878 805.422 2268.742 752.535 2204.54 653.4639999999999 2124.951 530.648 2155.541 312.32899999999995 2016.53 266.567 1879.239 221.37199999999996 1766.93 394.53 1642.773 468.533 1551.48 522.947 1471.0059999999999 582.482 1384.032 643.562 1264.7469999999998 727.3330000000001 1053.3719999999998 749.446 1036.596 894.239 1019.633 1040.649 1237.655 1100.315 1316.699 1224.716 1380.376 1324.932 1366.249 1463.7930000000001 1451.196 1546.75 1543.6109999999999 1636.999 1671.3029999999999 1707.7559999999999 1800 1696.694' fill='%23dde0ee'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1211'%3e%3crect width='1800' height='1004' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.intro-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 30px;
}

.intro-text h3 {
    color: black;
    font-size: 25px;
}

.img-section {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.blob {
    animation: float 2s infinite alternate ease-in-out;
}

.small-blob {
    position: absolute;
    height: 200px;
    top: 20px;
    left: 20px;
    filter: blur(8px);
    animation: float 3s infinite alternate ease-in-out;
}

@keyframes float {
    from {
        transform: rotate(0);
        transform: translateY(0px);
    }
    to {
        transform: rotate(360deg);
        transform: translateY(20px);
    }
}

@media screen and (max-width: 844px) {

    .intro-text {
        padding-left: 10px;
    }

    .blob {
        width: 15rem;
    }
    
}