.infoCard {
    width: 500px;
    height: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    padding: 0px 10px;
}

.infoCard p {
    font-weight: 700;
}

@media screen and (min-width: 414px) {

    .infoCard {
        width: 300px;
        position: relative;
        top: 250px;
        left: 10%;
        height: 280px;
        padding: 10px 10px;
    }
  
  }


@media screen and (min-width: 360px) {

    .infoCard {
        width: 300px;
        position: relative;
        top: 250px;
        left: -5%;
        height: 280px;
        padding: 10px 10px;
    }
  
  }

  @media screen and (min-width: 820px) {

    .infoCard {
        width: 500px;
        position: relative;
        top: 250px;
        left: -65%;
        height: 250px;
        padding: 10px 10px;
    }
  
  }

  @media screen and (min-width: 500px) {

    .infoCard {
        width: 400px;
        position: relative;
        top: 250px;
        left: -50%;
        height: 250px;
        padding: 10px 10px;
    }
  
  }

  @media screen and (min-width: 1200px) {

    .infoCard {
        width: 500px;
        position: relative;
        top: 30px;
        left: -140px;
        height: 180px;
        font-size: 15px;
    }
  
  }

  
  