nav {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    background-color: transparent;
    transition: all 0.2s;
}

ul {
    display: flex;
    width: 600px;
    justify-content: space-around;
    list-style: none;
    font-weight: 500;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 8px;
    transition: border-bottom 0.3s ease-in-out;
}

a:hover {
    border-bottom: black 1px solid;
}

/* .nav-scroll {
    background-color: #eee;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
} */

nav.active {
    background-color: #eee;
}